[ server_ext ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName=DNS:example.com,DNS:www.example.com,DNS:api.example.com,DNS:login.example.com,DNS:api-internal.example.com,DNS:tokenhandler-internal.example.com,DNS:login-internal.example.com
extendedKeyUsage = serverAuth

[ client_ext ]
authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
extendedKeyUsage = clientAuth